* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(96, 11, 145);


}

.sidebar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: purple;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    width: 125px;
    border-radius: 16px;
    height: 100vh;
    box-shadow: 4px 0px 10px pink;
    position: fixed;
    top: -1;
    left: 0;

}

.sidebar button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(225, 90, 225);
    padding: 15px;
    border-radius: 16px;
    border: none;
    width: 125px;
    color: black;
    cursor: pointer;
    font-size: 15px;
}

form {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h1 {
    background-color: rgb(0, 0, 0);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 4px 0px 50px pink;
    height: 100px;
    text-align: center;
    color: white;
    font-size: 80px;

}

.Searchbar {

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    margin: 20px auto;
    padding: 5px;
    background-color: white;
    border: solid 2px gray;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s;

}

.Searchbar:focus-within {
    border-color: #2b7cff;
    box-shadow: 0 0 10px rgba(43, 124, 255, .4);
}

.Searchbar input {
    border: none;
    outline: none;
    color: rgb(15, 14, 14);
    padding: 12px 2px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
}

.Searchbar button:hover {
    background: #1d63cf;
    transform: scale(1.05);

}

.conteudo {
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 1650px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    border: none;
    margin-left: 180px;
    font-size: 15px;
}
.titulo cont{
    font-size: 30px;


}
